subscription_id      = "00000000-0000-0000-0000-000000000000"
storage_account_name = "stazureforgetf12345"
location             = "westeurope"
github_owner         = "armsah"
github_repository    = "AzureForge-IDP"
github_branch        = "main"
